<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <pluginGroups>
    </pluginGroups>

    <proxies>
    </proxies>
    <servers>
        <server>
            <id>tapsell-release-repo</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>tapsell-snapshot-repo</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>metrix-release-repo</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>metrix-snapshot-repo</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>pegah-release-repo</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>pegah-snapshot-repo</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>logstash-release-repo</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>logstash-snapshot-repo</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>pegah-shared-release</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
        <server>
            <id>pegah-shared-snapshot</id>
            <username>admin</username>
            <password>P3g@hTechNew</password>
        </server>
    </servers>

    <mirrors>
    </mirrors>

    <profiles>
        <!--
            this is maven's base profile and it's better be the first one in profile lists to get the highest priority
        -->
        <profile>
            <id>artifactory-tapsell</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>tapsell-release-repo</id>
                    <name>tapsell-libs</name>
                    <url>https://artifactory.pegah.tech/artifactory/tapsell-libs</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>tapsell-snapshot-repo</id>
                    <name>tapsell-libs</name>
                    <url>https://artifactory.pegah.tech/artifactory/tapsell-libs</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>pegah-shared-release</id>
                    <name>tapsell</name>
                    <url>https://artifactory.pegah.tech/artifactory/tapsell</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>pegah-shared-snapshot</id>
                    <name>tapsell</name>
                    <url>https://artifactory.pegah.tech/artifactory/tapsell</url>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>artifactory-metricx</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>metrix-release-repo</id>
                    <name>metricx-libs</name>
                    <url>https://artifactory.pegah.tech/artifactory/metricx-libs</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>metrix-snapshot-repo</id>
                    <name>metricx-libs</name>
                    <url>https://artifactory.pegah.tech/artifactory/metricx-libs</url>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>artifactory-pegah</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>pegah-release-repo</id>
                    <name>libs-release</name>
                    <url>https://artifactory.pegah.tech/artifactory/libs-release</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>pegah-snapshot-repo</id>
                    <name>libs-snapshot</name>
                    <url>https://artifactory.pegah.tech/artifactory/libs-snapshot</url>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>artifactory-logstash</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>logstash-release-repo</id>
                    <name>logstash-libs</name>
                    <url>https://artifactory.pegah.tech/artifactory/logstash-libs</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>logstash-snapshot-repo</id>
                    <name>logstash-libs</name>
                    <url>https://artifactory.pegah.tech/artifactory/logstash-libs</url>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>securecentral</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>



    <activeProfiles>
    </activeProfiles>

</settings>
